body, html {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    overflow-x: hidden;
}

.intro {
    width: 100vw;
    padding: 1em 0 1em 0;

    background-color: #3E4C5E;
    background-image: url("../../res/background.png");
    background-size: cover;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

.title-wrapper {
    margin-top: 10em;
    max-width: 1400px;
    width: 100%;
}

.title {
    margin-bottom: 0.1em;
    padding: 0.1em;
    display: inline-block;

    font-size: 88px;
    background: rgba(0, 0, 0, 0.2);
}

.subtitle {
    margin-bottom: 0.1em;
    padding: 0.1em;
    display: inline-block;

    font-size: 42px;
    background: rgba(0, 0, 0, 0.2);
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.main > * {
    width: 100%;
    max-width: 1400px;
    margin: 1em 0 1em 0;
}

.split {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.split-main {
    max-width: 67%;
    flex: 1 1 auto;
    margin-right: 2em;
}

.split-aside {
    flex: 0 0 33%;
}

.split-aside .note {
    padding: 1em;
    max-width: 400px;
    box-sizing: border-box;
    background-color: #F6F6F6;
}

.footer {
    padding: 1em;
    background-color: #82A0BC;

    text-align: center;
    color: #EEEEEE;
}

.footer > p {
    margin: 0;
}