.reference {
	position: absolute;
	top: 1em;
	left: 50%;
	color: #000000;
	opacity: 0.1;
	transform: translateX(-50%);
}

.text-decoration {
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: american-scribe, sans-serif;
	font-weight: 400;
	font-size: 30em;
	color: #000000;
	opacity: 0.1;
	transform: translate(-50%, -50%);
}

h1 {
	font-family: essonnes-headline, serif;
	font-weight: 400;
	font-size: 4em;
	color: #04B2D9;
}

h2 {
	font-family: essonnes-headline, serif;
	font-weight: 400;
	font-size: 3em;
	color: #75828F;
}

.title {
	position: absolute;
	top: 40%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.intro {
	position: absolute;
	right: 0;
	bottom: 4em;
	width: 60%;
	padding: 2em 20% 2em 2em;
	background-color: #212529;
	color: #8C8C8C;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
}

#blue-code {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20vw;
	height: 20vw;
	object-fit: cover;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
}

#group1 {
	z-index: 2;
	.parallax__layer--fore {
		pointer-events: none;
	}
}

#group2 {
	z-index: 1;
}

.section-heading {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-family: essonnes-headline, serif;
	font-weight: 400;
	font-size: 3em;
	color: #75828F;
}

.content {
	width: 50%;
	top: 7em;
	transform: translateX(-50%);
}

