#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; }

#osu-gameplay {
  float: right; }

.nav {
  z-index: 1; }

.content {
  z-index: 1;
  width: 50vw; }

.section-heading {
  font-family: essonnes-headline, serif;
  font-weight: 400;
  font-size: 2em;
  color: #75828F; }
