.display-letter {
  font-family: essonnes-headline, serif;
  font-size: 50em;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  opacity: 0.1; }

#letter-o {
  position: absolute;
  bottom: 0;
  right: 8%; }

#letter-v {
  position: absolute;
  top: 10%;
  left: 10%; }

#letter-e {
  position: absolute;
  top: 40%;
  right: 10%; }

#o-image {
  position: absolute;
  top: 20%;
  left: 0;
  width: 400px;
  height: 600px;
  object-fit: cover;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); }

#group1 {
  z-index: 2; }

.o-content {
  position: absolute;
  bottom: 30%;
  right: 0;
  width: 60%;
  padding: 4em 20% 4em 4em;
  background-color: #212529;
  color: #8C8C8C;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); }

.audio {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333;
  padding: 2em;
  width: 50%;
  pointer-events: auto;
  color: #8C8C8C;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); }
  .audio audio {
    width: 100%; }

#slides {
  width: 100%;
  height: 265px;
  object-fit: cover;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); }

.v-content {
  position: absolute;
  top: 20%;
  background-color: #212529;
  color: #8C8C8C;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); }
  .v-content .v-content-upper {
    width: 60%;
    padding: 4em 4em 1em 4em; }
  .v-content .v-content-lower {
    padding: 1em 4em 1em 4em; }
