/* Based on demo by Keith Clark */
@mixin parallax__layer($layer, $transform, $z-index) {
	&__layer--#{$layer} {
		-webkit-transform: $transform;
		transform: $transform;
		z-index: $z-index;
	}
}

body { overflow-y: hidden;}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
	
	&__group {
		position: relative;
    	height: 100vh;
    	-webkit-transform-style: preserve-3d;
    	transform-style: preserve-3d;
	}
	
	&__layer--fore, &__layer--base, &__layer--back, &__layer--deep {
		position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	-webkit-transform-origin-x: 100%;
    	transform-origin-x: 100%;
	}
	
	&__layer--fore {
		pointer-events: none;
	}
	
	@include parallax__layer(fore, translateZ(90px) scale(.7), 1);
	@include parallax__layer(base, translateZ(0), 4);
	@include parallax__layer(back, translateZ(-300px) scale(2), 3);
	@include parallax__layer(deep, translateZ(-600px) scale(3), 2);
	
}
